.message-item {
    min-width: 35%;
    max-width: 78%;
}

.MessageItemElement {
    background-color: #C2F78E;
    box-shadow: 2px 2px 6px rgb(187, 185, 185);
    padding: 6px;
    border-radius: 6px;
}

.MessageItemElement:hover {
    background-color: rgb(225, 248, 203);
    opacity: 0.8;
}