.main-panel {
  height: 92vh;
  background-color: #fdfdf3;
}

.last-chat {
   overflow-y: scroll;
   height: 100%;
}

.tab-view {
   height: 93%;
   /*overflow-y: scroll;*/
}


.primary-form {
  display: block;
  padding: 1rem 2.0rem;
  /*border: 1px solid gray;*/
  border-radius: 0.5rem;
  min-width: 350px;
  background-color: white;

  position: absolute;
  top: 23%;
  left: auto;
}


.inp {
  text-indent: 0.2rem;
}

nav > a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.par {
  color: red;
}


