.main-panel {
  height: 91vh;
  background-color: #fdfdf3;
  box-shadow: 1px 1px 3px #AAAAAA;
}

.input-label {
  color: #6c34ef;
}

.input_field {
  padding: 0.3em;
  background: transparent none;
  border: 1px solid #ff7700;
  border-radius: 6px;;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.my-profile {
  background-color: #fdfdf3;
  padding: 0.8em 0;
}


.my-profile-shadow {
  box-shadow: 1px 1px 3px #AAAAAA;
}

.multi-text-field {
  background-color: blanchedalmond;
  border-radius: 6px;
}

.photo-card {
  border-radius: 8px;
}

.photo-card:hover {
  opacity: 0.8;
}

/*.card-item:hover {
  opacity: 0.8;
  border: 1px solid black;
}*/

.grid-element {
  border: 1px solid #a19f9f;
}

.last-chat {
   overflow-y: scroll;
   height: 100%;
}

.tab-view {
   height: 92%;
}


.primary-form {
  display: block;
  padding: 1.6rem 2.7rem;
  border-radius: 0.5rem;
  min-width: 350px;
  background-color: white;
  position: absolute;
  top: 23%;
  left: auto;
  box-shadow: 1px 1px 3px #AAAAAA;
}

.preloader-panel {
  display: block;
  padding: 1rem 2.0rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 35%;
  left: auto;
}

.link {
  text-decoration: none;
  color: #ff7700;
}

.inp {
  text-indent: 0.2rem;
}

nav > a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.par {
  color: red;
}



