
.chat-panel {   
   margin-top: 12px;  
   box-shadow: 2px 2px 6px rgb(144, 150, 155);
   padding: 10px;
   border: 1px solid rgb(192, 191, 191);
}


.chat {
   padding: 1rem;
   border: 1px solid rgb(161, 159, 159);
   border-radius: 0.5rem;
   background-color: white;
}

.users {
   padding: 0.5rem;
   border: 1px solid rgb(201, 200, 200);
   border-radius: 0.5rem;
   background-color: white;
}